@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(to bottom, #b06081, #b06081, #b06081, #b06081, #b06081, #b06081, #b06081, #b06081, white);
  filter: brightness(1.2);
  padding: 10px 30px;

  h1 {
    font-family: 'Dancing Script', cursive;
    color: #ffb705;
    text-shadow: 0 0 10px  #000000;
    filter: brightness(1.3);
  }
}
